@model ProductViewModel

<table class="table" style="width: 50%">
    <thead>
        <tr>
            <th scope="col">Price</th>
            <th scope="col">Avialbel Amount</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Product?.ProductPrice LE</td>
            <td>@Model.Product?.Amount</td>
            <td>@Model.Category.CategoryName</td>
        </tr>
    </tbody>
</table>
<a class="btn btn-primary">Buy now</a>