@using SampleApplication.ViewModels
@model ProductListViewModel

<div class="text-center"><h1 id="welcomeMessage"></h1></div>
<partial name="_Carousel" />
<div>
    @if(Model.products is not null)
    {
        @foreach(Product product in Model.products)
        {
            <div style="background: @product.ProductImg"></div>
            <ul>
                <li>@product.ProductName</li>
                <li>@product.ProductDescription</li>
                <li>@product.ProductPrice</li>
            </ul>
        }
    }
</div>

<script>
    var name = window.localStorage.getItem("UserName");
    if(name)
    {
        document.getElementById("welcomeMessage").innerHTML = `Welcome back, ${name}!`;
    }
</script>