@using SampleApplication.ViewModels
@model ProductListViewModel

<div class="row bg-dark p-3" style="border-radius: 10px">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row">
            <partial name="_Carousel" />
        </div>
    </div>
    <div class="col-1"></div>
</div>
<div class="container m-2">
    @if(Model.products is not null)
    {
        @foreach(Product product in Model.products)
        {
            <partial name="_ProductCart" model="@product" />
        }
    }
</div>

<script>
    var name = window.localStorage.getItem("UserName");
    if(name)
    {
        document.getElementById("welcomeMessage").innerHTML = `Welcome back, ${name}!`;
    }
</script>