@model List<Category>

<div class="d-flex justify-content-between flex-wrap gap-3 align-items-center align-content-center">
    @if(Model is not null)
    {
        <h1 class="text-center w-100">Available Categories</h1>
        @foreach(Category category in Model)
        {
            <div class="card" style="width: 18rem; height: 8rem">
                <div class="card-body">
                    <h5 class="card-title">@category.CategoryName</h5>
                    <p class="card-text">@category.CategoryDescription</p>
                </div>
            </div>
        }
    }else
    {
        <div class="text-center"><h1>No Categories Exist</h1></div>
    }
</div>